@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --blue: #0b65f1;
  --white: #ffffff;
  --purple: #b167dc;
  --lightPurple: rgba(173, 69, 233, 0.3);
}
body {
  font-family: "Poppins", sans-serif !important;
}

.section {
  padding: 4rem 0;
}

/* Header */
.section-title {
  font-size: 55px;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  line-height: 1.1;
  background: linear-gradient(288.37deg, #020626 18.26%, #07168c 81.74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  font-weight: 900;
}
.section-header p {
  line-height: 30px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  color: #002a41;
  font-weight: 400;
}
.section-header .sub-heading__2 {
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
}

.header {
  z-index: 1050;
  background-color: #ffffff !important;
  padding: 10px 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 8px rgb(158 117 226) !important;
}

.logo img {
  width: 100px;
}
.common-btn {
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 18px;
}
.contact-btn {
  background: linear-gradient(94deg, #07168c 0.47%, #2bd483 99.53%);
  color: var(--white);
  transition: background 5s ease-in-out;
}
.contact-btn:hover {
  background: linear-gradient(31deg, #0c23db 0.47%, #069f55 99.53%);
}
.links {
  font-size: 18px !important;
  color: black !important;
}

.navbar-toggler {
  background: #26b984 !important;
}
/* Landing page content */

.landing-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: var(--white);
}
.get-btn {
  background-color: var(--white);
  color: var(--purple);
  transition: color 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
}

.get-btn:hover {
  background: transparent
    linear-gradient(271deg, #a22cff 0%, #7c21e2 52%, #5a00c4 100%) 0% 0%
    no-repeat padding-box;
  color: var(--white);
  box-shadow: 0px 0px 5px #f2f8f8;
}

.hero {
  height: 80vh;
  width: 100%;
  /* background: linear-gradient(132deg, #081688 0.47%, #8007a4 99.53%); */
  background-image: url("/images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Contact page */

#footer {
  position: relative;
  width: 100%;
  background-image: url("/images/contactimg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-form {
  position: relative;
  z-index: 1;

  background-color: rgb(255 255 255);
}
.contact-form-container {
  background: var(--white);
  border-radius: 20px;
  box-shadow: 0 0 6px #ad88e1 !important;
  padding: 30px;
}
.contactImage img {
  width: 100%;
}
.contact-title {
  font-size: 2.5rem;
  color: black;
}

/* Services */
#clients {
  padding: 5rem auto;
}

.services-title {
  font-size: 2.5rem;
}
.services-text {
  color: var(--purple);
}

.form-control,
.form-conrol:focus {
  padding: 10px !important;
  font-size: 1.2rem !important;
  line-height: 1.8rem !important;
}
.form-control {
  box-shadow: 0 0 4px #c6aee5 !important;
}
.form-control:focus {
  box-shadow: 0 0 6px #a063f0 !important;
}
.form-label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.2rem !important;
}
.invalid-feedback {
  font-size: 18px !important;
}
.mobile-input {
  padding-left: 48px !important;
}
.react-tel-input .form-control {
  height: auto !important;
  width: 100% !important;
}

/* Updated contact form */

.contactContent {
  background: linear-gradient(132deg, #081688 0.47%, #8007a4 99.53%);
  border-radius: 10px;
  color: var(--white);
}
.para,
li {
  font-size: 20px;
  line-height: 1.5rem;
}

/* Footer section */

.footer {
  background-color: #0d0d0d;
  color: #ffffff;
}
.footer-section {
  background: linear-gradient(180deg, #f8f8fc 0.42%, #eef4fd 83.6%);
}

.owl-theme .item img {
  height: 80px;
  object-fit: cover;
  margin: auto;
}

/* Clients section */

.clients-container {
  position: relative;
  z-index: 1;

  background-color: rgba(255, 255, 255, 0.85);
}

/* Images */

.img-container {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
  z-index: 1;
}

.img-container:hover .hover-img {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--lightPurple);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  z-index: 2;
}

.img-container:hover .overlay {
  opacity: 1;
}

.h1-title {
  font-weight: 700;
}
.get_a_demo_1 p,
.get_a_demo_1 li {
  font-size: 20px;
  line-height: 1.44;
  -webkit-font-smoothing: antialiased;
  color: #565973;
  position: relative;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.achievement-img-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 100px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}

.achievement-img-wrapper img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  display: block;
  border-radius: 100px;
}
.topArrow {
  background: linear-gradient(94deg, #07168c 0.47%, #2bd483 99.53%);
  position: fixed;
  bottom: 20px;
  right: 10px;
  color: white;
  border: 1px solid white;
  font-size: 30px;
  border-radius: 100%;
  height: 50px;
  z-index: 1000;
  width: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.img1 {
  width: 120px !important;
}

@media (max-width: 767px) {
  .section {
    padding: 2rem 0;
  }
  .section-title {
    font-size: 35px;
    text-transform: capitalize;
    letter-spacing: 0em;
    line-height: 1;
  }
  .section-header .sub-heading__2 {
    font-size: 24px;
  }
  .hero {
    height: 65vh;
  }
  .overlay h4 {
    margin: 0;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
  }
  .overlay p {
    margin: 0;
    font-size: 0.6rem;
    line-height: 1.2rem;
    text-align: center;
  }
  .landing-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: var(--white);
  }
  .services-title {
    font-size: 2rem !important;
  }
  .contact-title {
    font-size: 2rem !important;
    margin-bottle: 1rem !important;
  }
  .footer-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .h1-title {
    text-align: center;
    font-size: 1.4rem;
  }
  .get_a_demo_1 p {
    text-align: center;
  }
  .achievement-grid {
    margin-bottom: 4rem;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
  .contact-form-container {
    padding: 30px 20px;
  }
}
@media (max-width: 389px) {
  .hero {
    height: 90vh;
  }
  .landing-content {
    position: absolute;
    top: 60%;
  }
}
